@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-Regular.woff2') format('woff2'),
      url('../fonts/OpenSauceSans-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-MediumItalic.woff2') format('woff2'),
      url('../fonts/OpenSauceSans-MediumItalic.woff') format('woff');
  font-weight: 500;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-ExtraBold.woff2') format('woff2'),
      url('../fonts/OpenSauceSans-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-SemiBold.woff2') format('woff2'),
      url('../fonts/OpenSauceSans-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-Medium.woff2') format('woff2'),
      url('../fonts/OpenSauceSans-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-Black.woff2') format('woff2'),
      url('../fonts/OpenSauceSans-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce Sans ExBold';
  src: url('../fonts/OpenSauceSans-ExtraBoldItalic.woff2') format('woff2'),
      url('../fonts/OpenSauceSans-ExtraBoldItalic.woff') format('woff');
  font-weight: 800;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-BlackItalic.woff2') format('woff2'),
      url('../fonts/OpenSauceSans-BlackItalic.woff') format('woff');
  font-weight: 900;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-Italic.woff2') format('woff2'),
      url('../fonts/OpenSauceSans-Italic.woff') format('woff');
  font-weight: 400;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-Light.woff2') format('woff2'),
      url('../fonts/OpenSauceSans-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-LightItalic.woff2') format('woff2'),
      url('../fonts/OpenSauceSans-LightItalic.woff') format('woff');
  font-weight: 300;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-SemiBoldItalic.woff2') format('woff2'),
      url('../fonts/OpenSauceSans-SemiBoldItalic.woff') format('woff');
  font-weight: 600;
  font-style: italic;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-Bold.woff2') format('woff2'),
      url('../fonts/OpenSauceSans-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
}

@font-face {
  font-family: 'Open Sauce Sans';
  src: url('../fonts/OpenSauceSans-BoldItalic.woff2') format('woff2'),
      url('../fonts/OpenSauceSans-BoldItalic.woff') format('woff');
  font-weight: 700;
  font-style: italic;
}