@import "_fonts";

html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-family: "Open Sauce Sans";
  vertical-align: baseline;
  color: #000;
}

a {
  color: #007bff;
}

body {
  overflow-y: scroll;
  width: 100%;
}

button:focus {
  outline: none;
}

input,
select,
textarea {
  width: 100%;
  padding: 17px;
  margin-bottom: 20px;
  border: 1px solid rgb(223, 223, 223);
  color: #000;
  font-size: 14px;
  line-height: normal;
  box-sizing: border-box;
  border-radius: 2px;
}

input[type="submit"] {
  width: unset;
  border: none;
  cursor: pointer;
  padding: 16px 30px;
  color: #000;
  border: 2px solid #000;
  border-radius: 0;
  font-size: 15px;
  font-weight: 500;
}

textarea {
  min-height: 150px;
}

.content {
  padding: 65px 0;
}

.site-title {
  z-index: 11;
  font: {
    size: 29px;
    weight: 500;
  }
  a {
    color: #000;
    text-decoration: none;
    &:hover {
      color: #000;
      text-decoration: none;
    }
  }
}

.main {
  margin-top: 110px;
}

.header .navbar {
  z-index: 11;
}

.navbar-light .navbar-nav .active > .nav-link,
.navbar-light .navbar-nav .nav-link.active,
.navbar-light .navbar-nav .nav-link.show,
.navbar-light .navbar-nav .show > .nav-link {
  color: #000;
}

.nav-item,
.navbar-light .nav-item {
  margin: 0 19px;
  letter-spacing: 0.5px;
  .nav-link {
    color: #000;
    position: relative;
    padding: 4px 0 !important;
    display: flex;
    flex-direction: column;
    align-items: center;
    font: {
      size: 15px;
      weight: 300;
    }
    &:hover {
      color: #000;
    }
    &.active {
      &::after {
        content: "";
        width: 100%;
        display: flex;
        height: 1px;
        margin-top: 2px;
        background: #000;
      }
    }
  }
}

.navbar-toggler {
  padding: 0;
  border: none;
  border-radius: 0;
}

.burger {
  position: relative;
  display: inline-block;
  cursor: pointer;
  background-color: transparent;
  border: none;
}

.burger-box {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 33px;
  height: 33px;
}

.burger-inner {
  width: 100%;
  height: 100%;
}

.burger-inner::before,
.burger-inner::after {
  position: absolute;
  display: block;
  top: 0;
  left: 0;
  bottom: 0;
  margin: auto;
  content: "";
  width: 100%;
  height: 1px;
  transition:
    transform 250ms cubic-bezier(0.2, 0.6, 0.3, 1),
    width 250ms cubic-bezier(0.2, 0.6, 0.3, 1);
  will-change: transform, width;
}

.burger-inner::before {
  transform: translatey(-5.5px);
}

.burger-inner::after {
  transform: translatey(5.5px);
}

.burger--left .burger-inner::after {
  transform: translatey(5.5px);
}

.burger:not(.collapsed) .burger-inner::before {
  transform: translatex(3.3px) rotate(-135deg);
  width: 26.4px;
}

.burger:not(.collapsed) .burger-inner::after {
  transform: translatex(3.3px) rotate(135deg);
  width: 26.4px;
}

.burger-inner::before,
.burger-inner::after {
  background-color: #000;
}

.header .socials {
  margin-top: -5px;
  .social {
    margin-left: 34px;
  }
}

.footer {
  padding-top: 120px;
  padding-bottom: 40px;
  .socials {
    .social {
      margin-left: 15px;
      margin-right: 15px;
      svg {
        width: 23px;
        height: 23px;
      }
    }
  }
  .navbar {
    margin-top: 50px;
    .nav-link {
      font: {
        size: 22px;
        weight: 400;
      }
      &::after {
        content: "";
        width: 100%;
        display: flex;
        height: 1px;
        margin-top: 2px;
        background: #000;
      }
    }
  }
}

.job-title {
  display: flex;
  font: {
    size: 29px;
    weight: 400;
  }
  line-height: 40px;
  &::before {
    content: "";
    display: flex;
    width: 25px;
    margin-top: 18px;
    height: 3px;
    background: #000;
    border-radius: 50rem;
    margin-right: 14px;
  }
}

.category .btn {
  @media (max-width: 575.95px) {
    width: 100%;
    text-align: left;
    padding: 12px 18px !important;
    margin-bottom: 10px;
  }
  color: #6e6d7a;
  &.active {
    background: rgba(13, 12, 34, 0.05);
    border-radius: 8px;
    font-weight: 500;
  }
  &:hover,
  &.active {
    color: #0d0c22;
  }
  &:focus {
    box-shadow: none;
  }
}

.projects {
  margin-top: 100px;
}

.projects-row {
  margin-left: -30px;
  margin-right: -30px;
}

.project {
  padding-left: 30px;
  padding-right: 30px;
  margin-bottom: 80px;
}

@media (max-width: 992.98px) {
  .projects-row {
    margin-left: -22px;
    margin-right: -22px;
  }
  .project {
    padding-left: 22px;
    padding-right: 22px;
    margin-bottom: 60px;
  }
}

@media (max-width: 991.98px) {
  .header {
    .socials {
      position: absolute;
      bottom: 50px;
      .social {
        margin-left: 25px;
        margin-right: 25px;
        svg {
          width: 30px;
          height: 30px;
        }
      }
    }
  }
  .navbar-collapse {
    position: fixed;
    width: 100%;
    height: calc(100vh - 115px) !important;
    left: 0;
    top: 115px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0;
    transition: opacity 150ms;
    &.show {
      opacity: 1;
    }
    .nav-item .nav-link {
      font: {
        size: 44px;
        weight: 400;
      }
      &.active::after {
        content: none;
      }
    }
    .navbar-nav {
      margin-top: -115px;
    }
  }
}

.navbar-bg {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 1;
  visibility: hidden;
  transition: 0.3s;
}

@media (max-width: 992.98px) {
  .footer {
    .navbar {
      margin-top: 33px;
    }
  }
}

@media (max-width: 575.98px) {
  .site-title {
    font-size: 25px;
  }

  .header {
    .socials {
      .social {
        svg {
          width: 26px;
          height: 26px;
        }
      }
    }
  }

  .navbar-collapse .nav-item .nav-link {
    font: {
      size: 30px;
      weight: 300;
    }
    padding: 6px 0 !important;
  }

  .main {
    margin-top: 90px;
  }

  .job-title {
    display: flex;
    font-size: 23px;
    line-height: 35px;
  }

  .projects {
    margin-top: 30px;
    .project {
      margin-bottom: 50px;
    }
  }

  .footer {
    padding-top: 90px;
    padding-bottom: 0;
    .navbar {
      .nav-item {
        margin: 0 10px;
      }
      .nav-link {
        font-size: 18px;
        font-weight: 500;
      }
    }
  }
}

.project-description {
  color: #484848;
  font-size: 15px;
  font-weight: 300;
  line-height: 29px;
}

.project-details {
  gap: 0;
}

.project-details-item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 20%;
  @media (max-width: 991.98px) {
    width: 100%;
    margin: 15px 0;
  }
  a {
    color: #000;
    &:hover {
      color: #000;
    }
  }
}

.project-details-title {
  font-size: 17px;
  font-weight: 500;
  line-height: 29px;
}

.project-details-description {
  margin-top: 4px;
  font-size: 14px;
  font-weight: 300;
  white-space: pre-wrap;
}

.view-project {
  font-size: 13px;
  font-weight: 500;
  letter-spacing: 1.5px;
  display: flex;
  color: #000;
  text-decoration: none;
  &:hover {
    color: #000;
  }
  &::before {
    content: "";
    display: flex;
    width: 25px;
    margin-top: 7.5px;
    height: 3px;
    background: #000;
    border-radius: 50rem;
    margin-right: 14px;
  }
}

.project-pagination-link {
  font-size: 28px;
  color: #000;
  text-decoration: none;
  &:hover {
    color: #000;
    text-decoration: none;
  }
  @media (max-width: 992.98px) {
    font-size: 22px;
  }
  @media (max-width: 767.98px) {
    .project-pagination-title {
      display: none;
    }
  }
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.title {
  color: #000;
  font-size: 29px;
  font-weight: 400;
  line-height: 45px;
  @media (max-width: 575.98px) {
    font-size: 25px;
    line-height: 36px;
  }
}

.resume {
  width: 700px;
  max-width: 100%;
  margin: 0 auto;
  padding: 20px 0;
  font-family: Roboto, sans-serif;
  color: #000;

  // restore browser defaults stripped by reset
  h2,
  p,
  ul,
  li,
  span,
  b,
  a,
  br {
    font-family: Roboto, sans-serif;
    color: #000;
  }

  h2 {
    font-size: 1.5em;
    font-weight: bold;
    margin: 0.83em 0;
  }

  p {
    margin: 1em 0;
  }

  ul {
    list-style: disc;
    padding-left: 2em;
    margin: 1em 0;
  }

  li {
    display: list-item;
  }

  a {
    color: #4183c4;
    text-decoration: none;
    &:visited {
      color: #4183c4;
    }
    &:hover {
      text-decoration: underline;
    }
  }

  blockquote {
    border-left: 5px solid #ddd;
    margin: 1em 0;
    padding-left: 0.6em;
  }

  .resume-name {
    font-weight: bold;
    font-size: 20px;
  }

  .resume-position {
    font-weight: bold;
  }

  .resume-company {
    text-decoration: underline;
  }

  .resume-date {
    font-size: 14px;
  }
}
